# Python
__pycache__
*.pyc
*.pyo
.pytest_cache
*.egg-info

# Data/model files
data/processed/
predictions.db

# Frontend
frontend/
node_modules/

# Version control & editor
.git
.gitignore
.vscode
.idea

# Environment
.env
*.env