numpy
pandas
scikit-learn
transformers
torch
datasets
mlflow
fastapi
uvicorn
sqlalchemy
prometheus-fastapi-instrumentator
prometheus-client
dvc
apache-airflow
spacy
scipy
pydantic
python-dotenv
pytest
httpx